<%-include("includes/head.ejs") %>
<body>
    <h1>This is the Home Page</h1>
    <!-- Interpolation syntax - ${expression} which means  -->
    <%= 1+2 %>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio modi facere cupiditate aut maiores, reprehenderit ab sequi blanditiis nisi quam, nemo, nam cum quibusdam. Qui reprehenderit voluptates rem dignissimos temporibus.</p>
    <button>click me!</button>
</body>
</html>