h2{
    background-color: yellow;
    border: 2px solid black;
}

@media (width: 400px) {
    h2{
        background-color: red;
        color: white;
    }
    div{
        height: 20px;
        width: 40px;
        background-color: blue;
    }
}
@media (min-width:700px){
    h2{
        background-color: green;
    }
}
@media (max-width:200px){
    h2{
        background-color: purple;
        }
    }
@media (min-width:100px) and (max-width:150px){
    h2{
        background-color: orange;
        }
}
@media (orientation:landscape){
    h2{
        background-color: pink;
        color: blue;
    }
}